.video-intro{
    .title{
        float: left;
        .text{
            font-size: 25px;
            color: orangered;
        }
    }
    .icons{
        padding: 5px 15px;
        background: #aaaaaa;
        float: right;
        margin-right: 20px;
        .text{
            color: rgb(255, 92, 92);
        }
    }
    .imgList{
        float: left;
        width: 100px;
        height: 180px;
        border: 1px solid #000;
        margin-right: 40px;
        div:first-child{
            width: 100px;
            height: 100px;
            background: #dddd;
        }
        .title{
            text-align: center;
            clear: #999;
        }
    }
}