<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <% for (var i = 0; i < students.length; i++) {%>
        <li>
            <p>
                    <span>姓名:</span>
                    <span><%= students[i].name%></span>
            </p>
            <p>
                    <span>性别:</span>
                    <span><%= students[i].gender == 'f' ? '女' : '男'%></span>
            </p>  <p>
                    <span>家乡:</span>
                    <span><%= students[i].hometown%></span>
            </p>

        </li>
        <%}%>
    </ul>
    <div>
        <a href="download/students.json">下载学生档案</a>
    </div>
</body>
</html>