<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>游戏!!!</h1>
    <ul>
        <% for (var i = 0; i < games.length; i++) { %>
            <li><%= games[i] %></li>
        <% } %>
    </ul>
</body>
</html>