@import './nest.scss';
@import './a.sass';
@import './variables.scss';
@import './mixin.scss';

*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    background: $background-color;
}

/* 混合 */
@mixin logoStyle {
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, gray 5%, white);
    color: $font-color;
}
.logo{
    @include logoStyle;
}

@mixin format {
    text-align: center;
    font-size:$font-size;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.method{
    width: 100%;
    height: 200px;
}


/*
 * 制作三角形
 * $directio	三角形的方向 默认值 top
 * $width		三角形的宽度 默认值 20px
 * $color		三角形的颜色 默认值 #000
 */ 


@mixin trangle ($direction:bottom , $width: 20px, $color: #000) {
    width: 0;
    height: 0;
    border: $width solid transparent;
    border-#{$direction}:$width solid $color;
}
.trangle1{
    @include trangle(bottom, 20px, rgb(8, 131, 66));
    @include format;
}
.trangle2{
    @include trangle(top, 20px, rgb(57, 40, 104));
    @include format;
}
.trangle3{
    @include trangle(left, 20px, rgb(163, 40, 81));
    @include format;
}






/* 继承 */
.dad{
width: 100px;
height: 100px;
line-height: 100px;
border-radius: 50%;
background: rgba(3, 58, 53, 0.63);
@include format;
}
.son{
    @extend .dad;
}


/* 占位符 */
%trangle{
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid black;
    @include format;
}
.trangle4{
    @extend %trangle;
    border-bottom: 20px solid rgb(20, 129, 133);
    @include format;
}


/* 数学运算 */
.math{
    @include format;
    float: left;
    width: (200px / 2);
    height: (100px/2);
    line-height: (100px/2);
    background: rgb(97, 165, 120);
}

/* 栅格 */
.grid{
    width: 100%;
}
.row{
    width: 100px;
}
 
@for $i from 1 through 24{
.col-#{$i}{
    width:(100% /24 * $i);
    float: left;
}
}


/* 栅格 */
.row{
    width: 100%;
}

@for $i from 1 through 24 {
	.col-#{$i} {
        width: (100% / 24 * $i);
        float: left;
	}
}


